---
- name: Provision Modus Promethean Web Server (Ubuntu 24.04)
  hosts: webservers
  become: yes
  vars:
    php_version: "8.3" # Ubuntu 24.04 default
    sites:
      - moduspromethean.com
      - modpx.dev

  tasks:
    - name: Update apt cache and upgrade packages
      apt:
        update_cache: yes
        upgrade: dist

    - name: Install Essential Packages (Apache, Git, Rsync, Certbot)
      apt:
        name:
          - apache2
          - git
          - rsync
          - certbot
          - python3-certbot-apache
          - unzip
          - zip
        state: present

    - name: Install PHP {{ php_version }} and Extensions
      apt:
        name:
          - php{{ php_version }}
          - libapache2-mod-php{{ php_version }}
          - php{{ php_version }}-mysql
          - php{{ php_version }}-pgsql
          - php{{ php_version }}-curl
          - php{{ php_version }}-gd
          - php{{ php_version }}-mbstring
          - php{{ php_version }}-xml
          - php{{ php_version }}-zip
          - php{{ php_version }}-bcmath
        state: present

    - name: Enable Apache Modules (SSL, Rewrite, Headers)
      apache2_module:
        name: "{{ item }}"
        state: present
      loop:
        - ssl
        - rewrite
        - headers
      notify: Restart Apache

    - name: Create Web Root Directories
      file:
        path: "/var/www/{{ item }}/public"
        state: directory
        owner: www-data
        group: www-data
        mode: '0775'
        recurse: yes
      loop: "{{ sites }}"

    - name: Set Permissions on /var/www Root
      file:
        path: /var/www
        owner: www-data
        group: www-data
        mode: '0775'

  handlers:
    - name: Restart Apache
      service:
        name: apache2
        state: restarted